// 主题颜色 （#FF9CC0 粉色）
$accentColor = #002FA7
// 文本颜色
$textColor = #2C3E50
// 边框颜色
$borderColor = #EAECEF
// 代码块颜色
$codeBgColor = #282C34
$arrowBgColor = #CCCCCC
$badgeTipColor = #42B983
$badgeWarningColor = darken(#FFE564, 35%)
$badgeErrorColor = #DA5961

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px